.card-view {
    flex-direction: row;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.card-view-img {
    width: 25%;
    height: 26%;
    border-radius: 102px;
    margin-top: 12px;
    margin-left: 12px;
}

.btn {
    float: right;
}
.btn-warning {
    color: white;
}

